.working-hours-pic {
    background-image: url("https://firebasestorage.googleapis.com/v0/b/dahoster-31a29.appspot.com/o/images%2F2.webp?alt=media&token=d9206421-8157-4365-bb7d-693449768265");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contacts-pic {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/dahoster-31a29.appspot.com/o/images%2Fcontact.jpg?alt=media&token=c45c3187-a32a-4e08-88b0-31cfa855b80d');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/dahoster-31a29.appspot.com/o/images%2Fpexels-amar-20861921.jpg?alt=media&token=1ce55f37-a7a7-4c12-9c85-5292e2c522fb');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index:-1;
    filter: brightness(0.8);
}
