.auth-bg {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/dahoster-31a29.appspot.com/o/images%2Fpexels-photo-3992875.webp?alt=media&token=f560bae7-d8ad-40f8-b00a-4c90245e2269');
    background-size: cover;
    background-position: center;
}
